<table cellspacing="5">
<tr>
	<td><label for="firstName" >First Name</label></td>
	<td><input type="text" ng-model="people.firstName" id="firstName" placeholder="first name"/></td>
</tr>
<tr>
	<td><label for="lastName" >Last Name</label></td>
	<td><input type="text" ng-model="people.lastName" id="lastName" placeholder="last name"/></td>
</tr>

<tr>
	<td><label for="phoneNumber">Phone Number</label></td>
	<td><input type="text" ng-model="people.phoneNumber" id="phoneNumber" placeholder="phone number"/></td>
</tr>
<tr>
	<td></td>
	<td><input type="submit" class="btn-save" value="Save"/></td>


</table>
