
<table class="table peopletable" cellspacing="10">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>{{person.phoneNumber}}</td>
        <td>
            <a class="btn-view" ui-sref="viewPeople({id:person.id})">View</a>
            <a class="btn-delete" ng-click="deletePeople(person)">Delete</a>
        </td>
    </tr>
</table>