<table>
    <tr>
        <td>First Name:</td>
        <td>{{people.firstName}}</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>{{people.lastName}}</td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td>{{people.phoneNumber}}</td>
    </tr>
</table>
<div>
    <a class="btn-edit" ui-sref="editPeople({id:people.id})">Edit</a>
</div>